<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
  <div class="cs-container">
    <div class="cs-left-section">
      <h2 class="cs-title">Schedule Your Next Checkup With Us</h2>
      <a href="" class="cs-button-solid">Request Appointment</a>
    </div>
    <div class="cs-content">
      <span class="cs-header">Available Hours</span>
      <p class="cs-p"> 
                Tuesday, Thursday, Friday: 9am-6pm<br>
                ​(closed for lunch 12pm-2pm)
            </p>
      <p class="cs-p">
                Appointments Preferred, Walk-Ins Welcome.<br>
                Saturdays by Appointment Only.
            </p>
    </div>
    <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves3.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async">
  </div>
</section>