<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2041">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Dental Care for Everyone</span>
            <h1 class="cs-title">We Provide Dental Services & Surgery</h1>
            <p class="cs-text">From preventative care to restorative dentistry, our team is dedicated to providing the best possible dental care for you.</p>
            <a href="" class="cs-button-solid">Get Started</a>
            <!--Bottom Corners-->
        </div>
        <form class="cs-form" id="cs-form-2041" name="Landing Form">
            <label class="cs-label">
                <div class="cs-flex">
                    Email <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="text" id="email-2041" name="email" placeholder="Your email">
            </label>
            <label class="cs-label">
                <div class="cs-flex">
                    Phone <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="tel" id="phone-2041" name="phone" placeholder="Phone number">
            </label>
            <label class="cs-label">
                <div class="cs-flex">
                    Date <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="date" id="date-2041" name="date" placeholder="Choose a date">
            </label>
            <button class="cs-button-solid cs-submit">Get Started</button>
        </form>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dental-hero.png">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dental-hero.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dental-hero.png" alt="meeting" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>