<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-2063">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <span class="cs-topper">Our Pricing</span>
                <h2 class="cs-title">Pricing Plans</h2>
            </div>
            <p class="cs-text">From preventative care to restorative dentistry, our team is dedicated  to providing the best possible dental care for you.</p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-package">
                    <span class="cs-name">Starter</span>
                    <p class="cs-item-text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <span class="cs-price">
                        $17
                        <span class="cs-duration">/ month</span>
                    </span>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        All available starter feature
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Medical service 24/7
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Customer agent service
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Professional Service
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        2 dedicated experts
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Consultation with a Senior experts
                    </li>
                </ul>
                <a href="" class="cs-button-transparent">Book Now</a>
            </li>
            <li class="cs-item cs-popular">
                <div class="cs-package">
                    <div class="cs-flex">
                        <span class="cs-name">Business</span>
                        <span class="cs-tag">Premium</span>
                    </div>
                    <p class="cs-item-text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <span class="cs-price">
                        $32
                        <span class="cs-duration">/ month</span>
                    </span>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        All available starter feature
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Medical service 24/7
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Customer agent service
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Professional Service
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        2 dedicated experts
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Consultation with a Senior experts
                    </li>
                </ul>
                <a href="" class="cs-button-transparent">Book Now</a>
            </li>
            <li class="cs-item">
                <div class="cs-package">
                    <span class="cs-name">Premium</span>
                    <p class="cs-item-text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <span class="cs-price">
                        $48
                        <span class="cs-duration">/ month</span>
                    </span>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        All available starter feature
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Medical service 24/7
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Customer agent service
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Professional Service
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        2 dedicated experts
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Consultation with a Senior experts
                    </li>
                </ul>
                <a href="" class="cs-button-transparent">Book Now</a>
            </li>
            <li class="cs-item cs-exclusive">
                <div class="cs-package">
                    <span class="cs-name">Exclusive Plan</span>
                    <p class="cs-item-text">
                        From preventative care to restorative dentistry, our team is dedicated to providing the best possible dental care for you.
                    </p>
                    <span class="cs-price">
                        $299
                        <span class="cs-duration">/ month</span>
                    </span>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        All available starter feature
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Medical service 24/7
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Customer agent service
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-tick.svg" alt="checkmark" width="24" height="24">
                        Professional Service
                    </li>
                </ul>
                <a href="" class="cs-button-transparent">Book Now</a>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dental-room.png">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dental-room.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dental-room.png" alt="waiting room" width="360" height="1587">
    </picture>
</section>