<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-2013">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">How It Works</span>
            <h2 class="cs-title">Dentistry for The Whole Family</h2>
            <p class="cs-text">
                Orci eu lobortis elementum nibh tellus. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Luctus accumsan tortor posuere ac ut consequat semper. Et pharetra pharetra massa massa ultricies mi quis.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-calendar2.svg" alt="link" width="20" height="20" loading="lazy" decoding="async">
                <h3 class="cs-h3">Book Appointment</h3>
                <p class="cs-item-text">
                    Dentitch provides the best service and has won many awards. Our mission is to make everyone confident to give their best smile. 
                </p>
                <div class="cs-number-wrapper">
                    <span class="cs-number">01</span>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg" alt="number" width="48" height="48">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-medical.svg" alt="link" width="20" height="20" loading="lazy" decoding="async">
                <h3 class="cs-h3">Visit Your Doctor</h3>
                <p class="cs-item-text">
                    Dentitch provides the best service and has won many awards. Our mission is to make everyone confident to give their best smile.
                </p>
                <div class="cs-number-wrapper">
                    <span class="cs-number">02</span>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg" alt="number" width="48" height="48">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-medicine.svg" alt="link" width="20" height="20" loading="lazy" decoding="async">
                <h3 class="cs-h3">Take Suggested Medicine</h3>
                <p class="cs-item-text">
                    Dentitch provides the best service and has won many awards. Our mission is to make everyone confident to give their best smile.
                </p>
                <div class="cs-number-wrapper">
                    <span class="cs-number">03</span>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg" alt="number" width="48" height="48">
                </picture>
            </li>
        </ul>
    </div>
</section>