<!-- ============================================ -->
<!--                  Testimonials                -->
<!-- ============================================ -->

<section id="testimonials-2060">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">What Our Clients Say</h2>
                <p class="cs-text">
                    Orci eu lobortis elementum nibh  tellus. Vulputate eu scelerisque felis imperdiet proin fermentum leo  vel. Luctus accumsan tortor.
                </p>
            </li>
            <li class="cs-item cs-item-green">
                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-stars.png" alt="stars" width="120" height="24" aria-hidden="true">
                <h3 class="cs-h3">99.99% Customer Satisfaction</h3>
                <p class="cs-green-text">
                    Based on 750+ reviews of  6,154 completed projects
                </p>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dentitch-joined-graphic.svg" alt="drops" width="528" height="830" aria-hidden="true" decoding="async">
            </li>
            <li class="cs-item cs-item-picture">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-1.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-1.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-1.png" alt="body builder" width="630" height="877">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png" alt="stars" width="120" height="24" aria-hidden="true">
                <h3 class="cs-h3">Piter Bowman</h3>
                <span class="cs-job">Managing Director</span>
                <p class="cs-quote">
                    "From routine cleanings to complex procedures, our experienced team is dedicated to ensuring your comfort and achieving the results you desire."
                </p>
            </li>
            <li class="cs-item cs-item-picture">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-2.png" alt="body builder" width="630" height="877">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png" alt="stars" width="120" height="24" aria-hidden="true">
                <h3 class="cs-h3">Piter Bowman</h3>
                <span class="cs-job">Managing Director</span>
                <p class="cs-quote">
                    "From routine cleanings to complex procedures, our experienced team is dedicated to ensuring your comfort and achieving the results you desire."
                </p>
            </li>
            <li class="cs-item cs-item-picture">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-3.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-3.png" alt="body builder" width="630" height="877">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png" alt="stars" width="120" height="24" aria-hidden="true">
                <h3 class="cs-h3">Piter Bowman</h3>
                <span class="cs-job">Managing Director</span>
                <p class="cs-quote">
                    "From routine cleanings to complex procedures, our experienced team is dedicated to ensuring your comfort and achieving the results you desire."
                </p>
            </li>
        </ul>
    </div>
</section>