/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-2050,
    #RPsbsr-2050 {
        padding: var(--sectionPadding);
        background-color: #F3FCFB;
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            /* changed to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            max-width: calc(617/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(12/16 * 1rem);

            &:last-of-type {
                margin: 0;
            }
        }

        .cs-ul {
            width: 100%;
            margin: calc(24/16 * 1rem) 0 calc(32/16 * 1rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(12/16 * 1rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            list-style: none;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8/16 * 1rem);
        }

        .cs-tick {
            width: calc(20/16 * 1rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(32/16 * 1rem);
            background-color: var(--primary);
            color: #fff;
            border-radius: calc(8/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: calc(4/16 * 1rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-ul-icons {
            width: 100%;
            max-width: calc(630/16 * 1rem);
            /* 48px - 64px */
            margin: clamp(3rem, 6vw, 4rem) 0 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(32/16 * 1rem);
        }

        .cs-li-icons {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-bottom: calc(32/16 * 1rem);
            border-bottom: 1px solid rgba(72, 72, 72, 0.4);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(20/16 * 1rem);

            &:last-of-type {
                padding: 0;
                border: none;
            }
        }

        .cs-icon {
            width: calc(48/16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            margin: 0 0 calc(16/16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-li-text {
            /* 14px - 16px */
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-picture-group {
            width: 100%;
            min-height: calc(520/16 * 1rem);
            display: flex;
            position: relative;
            z-index: 1;

            /* because the img in cs-picture is absolutely positioned, it won't contribute to the height of the parent. therefore, a height: 100% won't work. instead, we have to set .cs-picture-group to a flexbox, and set flex to 1 to fill the container dynamically */
            .cs-picture {
                flex: 1;
            }
        }

        .cs-picture {
            width: 100%;
            min-height: calc(362/16 * 1rem);
            /* clips img tag corners */
            overflow: hidden;
            border-radius: calc(8/16 * 1rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-box {
            text-align: left;
            width: 89%;
            max-width: calc(305/16 * 1rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: calc(32/16 * 1rem);
            background-color: #f2fbf8;
            border-radius: calc(8/16 * 1rem);
            position: absolute;
            /* 16px - 40px */
            bottom: clamp(1rem, 4vw, 2.5rem);
            /* 16px - 40px */
            left: clamp(1rem, 4vw, 2.5rem);
            z-index: 1;
        }

        .cs-box-icon {
            width: calc(60/16 * 1rem);
            height: auto;
            margin: 0 0 calc(16/16 * 1rem);
            display: block;
        }

        .cs-box-number {
            font-size: calc(31/16 * 1rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0 0 calc(12/16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-box-desc {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-2050,
    #RPsbsr-2050 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-end;
            position: relative;
            z-index: 1;
        }

        .cs-content {
            width: 48vw;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-2050,
    #RPsbsr-2050 {
        .cs-content {
            padding: calc(40/16 * 1rem) 0;
        }

        .cs-picture-group {
            width: 50%;
            height: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-2050 {
            background-color: rgba(0, 0, 0, .2);
        }
        
        #RPsbs-2050,
        #RPsbsr-2050 {
            .cs-title,
            .cs-text,
            .cs-li,
            .cs-li-text,
            .cs-box-number,
            .cs-box-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-li,
            .cs-box-desc {
                opacity: 0.8;
            }

            .cs-box {
                background-color: var(--medium);
            }

            .cs-box-icon {
                filter: grayscale(1) brightness(1000%);
            }

            &::before {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Side By Side Only      -->
<--- -------------------------- -*/

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-2050 {
        padding-left: 0;

        .cs-content {
            /* 100px - 210px */
            padding-bottom: clamp(6.25rem, 15vw, 13.125rem);
        }

        .cs-picture {
            max-width: 100vw;
            margin-right: calc(40/16 * 1rem);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            position: absolute;
            height: 100%;
            width: 50vw;
            right: 50%;
        }

        &::before {
            content: "";
            width: 100%;
            height: 20%;
            max-height: calc(200/16 * 1rem);
            background-color: #1a1a1a;
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: 1;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-2050 {
        background-color: #1a1a1a;

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-topper {
            color: var(--secondary);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbsr-2050 {
        padding-right: 0;
        padding-top: 0;

        .cs-container {
            justify-content: flex-start;
        }

        .cs-content {
            width: 45vw;
            flex: none;
        }

        .cs-picture-group {
            width: 50vw;
            height: 100%;
            margin-left: calc(40/16 * 1rem);
            position: absolute;
            left: 50%;
            top: 0;
        }

        .cs-picture {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .cs-box {
            width: 73%;
            max-width: calc(305/16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-2050 {
            background-color: rgba(0, 0, 0, 0.2);
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .6);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-2013 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;

        &::before {
            /* backgorund color */
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--primary);
            opacity: 0.05;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(704/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            max-width: calc(900/16 * 1rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            padding: clamp(1.5rem, 3.1vw, 2rem) clamp(1rem, 2.3vw, 2rem);
            background-color: #fff;
            border-radius: calc(8/16 * 1rem);
            border: 1px solid transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            position: relative;
            transition: border 0.3s;

            &:hover {
                border: 1px solid var(--primary);

                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-icon {
            width: calc(48/16 * 1rem);
            height: auto;
            margin-bottom: calc(16/16 * 1rem);
            display: block;
        }

        .cs-h3 {
            font-size: calc(20/16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(16/16 * 1rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 calc(24/16 * 1rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-number-wrapper {
            width: calc(48/16 * 1rem);
            height: calc(48/16 * 1rem);
            margin-top: auto;
            margin-bottom: calc(-24/16 * 1rem);
            padding: calc(10/16 * 1rem);
            background-color: var(--headerColor);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        .cs-number {
            font-size: calc(20/16 * 1rem);
            font-weight: 700;
            color: #fff;
        }

        .cs-picture {
            width: 100%;
            /* 140px - 180px */
            height: clamp(8.75rem, 18vw, 11.25rem);
            display: block;
            flex: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: calc(8/16 * 1rem);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-2013 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps-2013 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-item {
                background-color: rgba(0, 0, 0, .2);
            }

            .cs-title,
            .cs-text,
            .cs-item-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-number-wrapper {
                background-color: var(--primary);
            }

            .cs-picture {
                border-color: var(--dark);
            }
        }
    }
}

/*-- -------------------------- -->
<---       Testimonials         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #testimonials-2060 {
        padding: var(--sectionPadding);
        bottom: calc(-174/16 * 1rem);
        left: calc(-11/16 * 1rem);

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-card-group {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            margin: 0 0 calc(28/16 * 1rem);
            padding-right: calc(48/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
            grid-column: span 12;
        }

        .cs-title,
        .cs-text {
            max-width: 100%;
        }

        .cs-green-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            margin: 0 0 calc(32/16 * 1rem) 0;
        }

        .cs-item {
            text-align: center;
            padding: calc(16/16 * 1rem);
            overflow: hidden;
            border-radius: calc(16/16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            position: relative;
        }

        .cs-item-picture {
            min-height: calc(406/16 * 1rem);
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            /* remove the picture from page flow so it conforms to normal cs-item dimensions */
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-stars {
            width: calc(96/16 * 1rem);
            height: auto;
            /* 24px - 48px */
            margin: clamp(1.5rem, 5vw, 3rem) 0 calc(16/16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(20/16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(4/16 * 1rem);
            color: var(--headerColor);
        }

        .cs-job {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            color: var(--Main-Paragraph, #4e4b66);
        }

        .cs-quote {
            font-size: calc(25/16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: calc(32/16 * 1rem) 0 0;
            color: var(--headerColor);
        }

        .cs-item-green {
            text-align: left;
            padding: calc(40/16 * 1rem);
            padding-bottom: calc(160/16 * 1rem);
            background-color: #f2fbf8;
            align-items: flex-start;

            .cs-stars {
                width: calc(120/16 * 1rem);
                margin: 0 0 calc(32/16 * 1rem);
            }

            .cs-h3 {
                margin: 0 0 calc(8/16 * 1rem);
            }

            .cs-text {
                margin: 0;
            }
        }

        .cs-graphic {
            width: calc(325/16 * 1rem);
            height: calc(375/16 * 1rem);
            object-fit: contain;
            opacity: 0.3;
            position: absolute;
            bottom: calc(-207/16 * 1rem);
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #testimonials-2060 {
        .cs-content,
        .cs-item {
            grid-column: span 6;
        }

        .cs-content {
            order: 1;
        }

        .cs-item {
            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(3) {
                order: 2;
            }

            &:nth-child(4) {
                order: 4;
            }

            &:nth-child(5) {
                order: 7;
            }

            &:nth-child(6) {
                order: 5;
            }

            &:nth-child(7) {
                order: 6;
            }

            &:nth-child(8) {
                order: 8;
            }
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #testimonials-2060 {
        .cs-content,
        .cs-item {
            grid-column: span 3;
        }

        .cs-content {
            padding: 0;
        }

        .cs-item {
            &:nth-child(2) {
                order: 5;
            }

            &:nth-child(3) {
                order: 2;
            }

            &:nth-child(4) {
                order: 3;
            }

            &:nth-child(5) {
                order: 7;
            }

            &:nth-child(6) {
                order: 6;
            }

            &:nth-child(7) {
                order: 4;
            }

            &:nth-child(8) {
                order: 8;
            }
        }

        .cs-stars {
            margin-top: calc(20/16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #testimonials-2060 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-job,
            .cs-quote {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-job {
                opacity: 0.8;
            }

            .cs-item-green {
                background-color: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-2063 {
        padding: var(--sectionPadding);
        /* clips svg graphic from overflowing the section */
        overflow: hidden;
        position: relative;
        z-index: 1;
        transform-style: preserve-3d;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px, changes to 20px at large desktop */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            /* change to center to centralise all text in item */
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            /* 24px - 40px top & bottom */
            /* 16px - 40px left & right */
            padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1rem, 3vw, 2.5rem);
            background-color: #fff;
            border-radius: calc(16/16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            grid-column: span 12;
            z-index: 1;
        }

        .cs-package {
            margin: 0 0 calc(32/16 * 1rem);
            padding: 0 0 calc(24/16 * 1rem);
            border-bottom: 1px solid #e8f8f7;
            display: flex;
            flex-direction: column;
        }

        .cs-flex {
            margin-bottom: calc(4/16 * 1rem);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cs-name {
                /* remove the margin that gives space between the name and cs-item-text. we'll apply this on cs-flex instead */
                margin: 0;
            }
        }

        .cs-name {
            font-size: calc(20/16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 calc(4/16 * 1rem);
            color: var(--primary);
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 calc(24/16 * 1rem);
            color: var(--bodyTextColor);
        }

        .cs-price {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 5vw, 3.0625rem);
            font-weight: 900;
            line-height: 1.2em;
            color: var(--secondary);
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            gap: calc(4/16 * 1rem);
        }

        .cs-duration {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            line-height: 1.3em;
            margin: 0;
            color: var(--headerColor);
            transform: translateY(-9px);
        }

        .cs-tag {
            font-size: calc(13/16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            padding: calc(8/16 * 1rem);
            color: var(--secondary);
            border: 1px solid var(--secondary);
            border-radius: calc(8/16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 calc(32/16 * 1rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12/16 * 1rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            list-style: none;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(4/16 * 1rem);
        }

        .cs-disabled {
            filter: grayscale(1);
            opacity: 0.5;

            .cs-icon {
                filter: grayscale(1);
            }
        }

        .cs-icon {
            width: calc(24/16 * 1rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

        .button-solid {
            width: 100%;
        }

        .cs-button-transparent {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: auto 0 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: transparent;
            overflow: hidden;
            color: var(--headerColor);
            border: 1px solid var(--headerColor);
            border-radius: calc(8/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s, border-color 0.3s, background-color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: var(--primary);
                opacity: 1;
                border-radius: calc(4/16 * 1rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                background-color: var(--primary);
                color: #fff;
                border-color: var(--primary);

                &:before {
                    width: 100%;
                }
            }
        }

        .cs-popular {
            .cs-button-transparent {
                background-color: var(--primary);
                color: #fff;
                border-color: var(--primary);
            }
        }

        .cs-exclusive {
            /* 24px - 40px */
            padding: clamp(1.5rem, 4vw, 2.5rem);
            background-color: var(--headerColor);

            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-duration {
                color: var(--bodyTextColorWhite);
            }

            .cs-package {
                margin-bottom: calc(32/16 * 1rem);
                padding-bottom: 0;
                border: none;
            }

            .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-button-transparent {
                color: var(--bodyTextColorWhite);
                border-color: var(--bodyTextColorWhite);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(243, 252, 251, 0.84) 0%, rgba(243, 252, 251, 0.84) 100%), rgba(0, 0, 0, 0) 50% / cover no-repeat;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-2063 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-card-group {
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(20/16 * 1rem);
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-exclusive {
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: repeat(2, auto);
            grid-column: span 12;

            .cs-package {
                /* makes the children of cs-package controllable by the parent grid. this is so we can adjust the grid layout in a non-standard way to fit the design */
                display: contents;
            }

            .cs-name {
                grid-column: 1;
                order: 1;
            }

            .cs-item-text {
                max-width: calc(550/16 * 1rem);
                margin: 0;
                grid-column: 1;
                order: 2;
            }

            .cs-ul {
                margin: calc(32/16 * 1rem) 0 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column: 1;
                order: 3;
            }

            .cs-price {
                max-width: calc(200/16 * 1rem);
                grid-column: 2;
                grid-row: 2;
                order: 4;
            }

            .cs-button-transparent {
                max-width: calc(200/16 * 1rem);
                grid-column: 2;
                order: 5;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-2063 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-title {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-2063 {
            .cs-title,
            .cs-text,
            .cs-name,
            .cs-tag,
            .cs-price,
            .cs-duration,
            .cs-item-text,
            .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-tag {
                border-color: var(--accent);
            }

            .cs-item {
                background-color: var(--dark);
                border-color: rgba(255, 255, 255, 0.2);
                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: #000;
                    opacity: .2;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                }
            }

            .cs-package {
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-button-transparent {
                color: var(--bodyTextColorWhite);
                border-color: var(--bodyTextColorWhite);
            }

            .cs-exclusive {
                background-color: var(--dark);
            }

            .cs-background {
                &::before {
                    background: var(--dark);
                    opacity: 0.8;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-2066 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: calc(704/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex-group {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: calc(32/16 * 1rem);
            position: relative;
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            gap: calc(12/16 * 1rem);
            align-self: stretch;
        }

        .cs-option {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: 700;
            /* 50px - 72px */
            line-height: 1.2em;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            padding: calc(12/16 * 1rem);
            background-color: #fff;
            color: var(--bodyTextColor);
            border: 1px solid #bababa;
            border-radius: calc(8/16 * 1rem);
            position: relative;
            z-index: 1;
            transition: border-color 0.3s;

            &:before {
                /* background color */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }

            &:hover {
                &:hover {
                    cursor: pointer;
                    border-color: var(--primary);

                    &:before {
                        opacity: 0.1;
                    }
                }
            }

            &.cs-active {
                color: var(--primary);
                border-color: var(--primary);

                &:before {
                    opacity: 0.1;
                }
            }
        }

        .cs-wrapper {
            position: relative;
        }

        .cs-faq-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(8/16 * 1rem);
            transform-style: preserve-3d;
            perspective: 900px;
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: top;

            &.cs-hidden {
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                position: absolute;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the FAQ won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-flex-group (left: 0). Same for the bottom:0 value, the FAQ won't go past that position when it animates */
                top: 0;
                left: 0;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0);

                .cs-faq-item {
                    opacity: 0;
                    transform: rotateX(270deg);
                }
            }
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            opacity: 1;
            border-bottom: 1px solid #e8e8e8;
            top: 0;
            transform: rotateX(0deg);
            transition:
                transform 0.6s,
                opacity 0.3s;

            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.8s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.9s;
            }

            &:last-of-type {
                border-bottom: none;
            }

            &.active {
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 0 calc(24/16 * 1rem) 0;
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: left;
            width: 100%;
            padding: calc(24/16 * 1rem) 0;
            background-color: #fff;
            color: var(--headerColor);
            border: none;
            display: block;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 50%;
                right: calc(24/16 * 1rem);
                transform: rotate(45deg);
                transition: transform 0.5s;
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 50%;
                right: calc(21/16 * 1rem);
                transform: rotate(-45deg);
                transition: transform 0.5s;
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            padding: 0;
            /* clips the text so it doesn't show up */
            overflow: hidden;
            color: var(--bodyTextColor);
            opacity: 0;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-cta {
            text-align: center;
            width: 100%;
            margin: 0;
            /* 32px - 40px */
            padding: clamp(2rem, 4vw, 2.5rem);
            border: 1px solid var(--primary);
            border-radius: calc(16/16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
        }

        .cs-cta-title {
            font-size: calc(31/16 * 1rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0 0 calc(16/16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-cta-text {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(32/16 * 1rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(208/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(32/16 * 1rem);
            background-color: var(--primary);
            color: #fff;
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: calc(4/16 * 1rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-graphic {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-2066 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
        }

        .cs-button-group {
            flex-direction: row;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-2066 {
        .cs-option {
            padding: calc(12/16 * 1rem) calc(24/16 * 1rem);
        }

        .cs-cta {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(64/16 * 1rem);
        }

        .cs-cta-text {
            margin: 0;
        }

        .cs-button-solid {
            flex-shrink: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-2066 {
            background-color: var(--dark);

            .cs-title,
            .cs-item-p,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-cta-text {
                opacity: 0.8;
            }

            .cs-option {
                background-color: transparent;
                color: var(--bodyTextColorWhite);
                border-color: rgba(255, 255, 255, 0.3);

                &.cs-active, &:hover {
                    color: var(--secondaryLight);
                    border-color: var(--secondaryLight);
                }
            }

            .cs-item {
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-faq-item {
                transition: border-color .3s, transform .6s;
                border-color: rgba(255, 255, 255, 0.3);
                &.active {
                    .cs-button {
                        color: var(--secondaryLight);

                        &:before,
                        &:after {
                            background-color: #fff;
                        }
                    }

                    .cs-item-p {
                        /* 20px - 24px */
                        padding-top: clamp(1.25rem, 1.3vw, 1.5rem);
                    }
                }

                &:nth-of-type(2) {
                    transition-delay: 0.1s;
                }
                &:nth-of-type(3) {
                    transition-delay: 0.2s;
                }
                &:nth-of-type(4) {
                    transition-delay: 0.3s;
                }
                &:nth-of-type(5) {
                    transition-delay: 0.4s;
                }
                &:nth-of-type(6) {
                    transition-delay: 0.5s;
                }
                &:nth-of-type(7) {
                    transition-delay: 0.6s;
                }
                &:nth-of-type(8) {
                    transition-delay: 0.7s;
                }
                &:nth-of-type(9) {
                    transition-delay: 0.8s;
                }
                &:nth-of-type(10) {
                    transition-delay: 0.9s;
                }

                &:hover {
                    transition: border-color 0.3s;
                }
            }

            .cs-button {
                background-color: var(--dark);
                color: var(--bodyTextColorWhite);
                &:before,
                &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-cta-title, .cs-cta-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-graphic {
                display: none;
            }
        }
    }
}
                                