/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
        --primary: #15BAB3;
        --primaryLight: #15BAB3;
        --secondary: #00A86D;
        --secondaryLight: #E5F6F0;
        --headerColor: #1a1a1a;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #fafbfc;
        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;
        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    
    *, *:before, *:after {
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
    }
    .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: .1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: calc(4 / 16 * 1rem);
        display: block;
    }
    
    .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: calc(700 / 16 * 1rem);
        margin: 0 0 calc(16 / 16 * 1rem) 0;
        color: var(--headerColor);
        position: relative;
    }
    
    .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: calc(650 / 16 * 1rem);
        margin: 0;
        color: var(--bodyTextColor);
    }    

    // Button - can be replaced using CodeStitch's "Button" Stitches
    .cs-button-solid {
        z-index: 1;
        position: relative;
        display: inline-block;
        background-color: var(--primary);
        width: auto;
        padding: 0 calc(30 / 16 * 1rem);
        text-decoration: none;
        text-transform: uppercase;
        font-size: calc(16 / 16 * 1rem);
        line-height: calc(50 / 16 * 1em);
        font-weight: bold;

        // Transition Properties
        color: #000;
        transition: color 0.3s;
        transition-delay: 0.1s;
        text-align: center;

        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            background-color: #000;
            height: 100%;

            //Transition properties
            width: 0;
            transition: width 0.3s;
        }
    }

    .cs-hide-on-mobile {
        display: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
    }

    .cs-hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

    /* roboto-regular - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 400;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* roboto-700 - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 700;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* roboto-900 - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 900;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #int-hero {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 30vh;
        padding-top: calc(50 / 16 * 1rem);

        picture {
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        h1 {
            position: relative;
            margin: 0 auto;
            margin-top: calc(70 / 16 * 1rem);
            margin-bottom: calc(30 / 16 * 1rem);
            max-width: calc(500 / 16 * 1rem);
            width: 96%;
            font-size: calc(64 / 30 * 1rem);
            color: #fff;
            text-align: center;
        }

        p {
            display: block;
            margin: auto;
            margin-bottom: calc(30 / 16 * 1rem);
            max-width: calc(400 / 16 * 1rem);
            width: 96%;
            color: #fff;
            text-align: center;
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 0.7;
            display: block;
            background: #000;
            height: 100%;
            width: 100%;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
    #int-hero {
        font-size: 100%;

        h1 {
            font-size: calc(64 / 16 * 1rem);
        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64rem) {
    #int-hero {
        background-attachment: fixed;
        min-height: calc(300 / 16 * 1rem);
        height: auto;
        padding-top: calc(180 / 16 * 1rem);
        font-size: inherit;
        padding-block-end: calc(100 / 16 * 1rem);
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-262 {
        text-align: center;
        width: 100%;
        margin: 0;
        /* 32px - 40px */
        padding: clamp(2rem, 4vw, 2.5rem);
        border: 1px solid var(--primary);
        border-radius: calc(16/16 * 1rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--primary);
            opacity: 0.1;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity 0.3s;
        }
        

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            /* 32px - 88px top & bottom */
            /* 24px - 88px left & right */
            padding: clamp(2em, 6.3vw, 5.5em) clamp(1.5em, 5.7vw, 5.5em);
            border-radius: calc(16/16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: calc(32/16 * 1rem);
            position: relative;
            /* clips the corners for the border radius to show */
            overflow: hidden;
            z-index: 1;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
        }

        .cs-graphic {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }

        // .cs-background {
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     display: block;
        //     z-index: -1;

        //     &:before {
        //         /* black overlay */
        //         content: "";
        //         width: 100%;
        //         height: 100%;
        //         background: #000;
        //         opacity: 0.7;
        //         position: absolute;
        //         display: block;
        //         top: 0;
        //         left: 0;
        //         z-index: 1;
        //     }

        //     &:after {
        //         /* brown overlay */
        //         content: "";
        //         width: 100%;
        //         height: 100%;
        //         background: var(--primaryLight);
        //         opacity: 0.2;
        //         position: absolute;
        //         display: block;
        //         top: 0;
        //         left: 0;
        //         z-index: 2;
        //     }

        //     img {
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         height: 100%;
        //         width: 100%;
        //         object-fit: cover;
        //     }
        // }

        .cs-left-section {
            max-width: calc(434/16 * 1rem);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
            margin-bottom: clamp(1.25rem, 4.2vw, 3rem);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #fff;
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4/16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            /* 12px - 20px */
            gap: clamp(0.75rem, 1.6vw, 1.25rem);
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.4vw, 1.5625rem);
            font-weight: bold;
            color: var(--primaryLight);
            display: block;
        }

        .cs-p {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-262 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            align-items: flex-end;
            text-align: right;
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cta-262 {
            .cs-background {
                &:before {
                    opacity: 0.9;
                }
                &:after {
                    opacity: 0.1;
                }
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover state */
@media only screen and (min-width: 0rem) {
    #cs-footer-107 {
        padding: calc(40/16 * 1rem) calc(16/16 * 1rem);
        background: #1a1a1a;

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
        }

        .cs-ul {
            padding: 0;
            margin: auto;
            display: flex;
            /* make flexbox arrange top to bottom */
            flex-direction: column;
            align-items: center;
            gap: calc(20/16 * 1rem);
        }

        .cs-li {
            list-style: none;
            text-align: center;
            margin: 0;
        }

        .cs-copyright {
            font-size: calc(15/16 * 1rem);
            line-height: 1.5em;
            margin-top: calc(20/16 * 1rem);
            color: #a0a3bd;
            display: block;
            /* send to first position at the bottom */
            order: 1;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-link {
            /* 15px - 17px */
            font-size: clamp(0.9375rem, 2vw, 1.0625rem);
            line-height: 1.5em;
            text-decoration: none;
            font-weight: 700;
            color: var(--bodyTextColorWhite);
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* top right box */
                content: "";
                width: 0%;
                height: calc(3/16 * 1rem);
                background: var(--bodyTextColorWhite);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-2/16 * 1rem);
                left: 0;
                transition: width 0.3s;
            }
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #cs-footer-107 {
        .cs-ul {
            flex-direction: row;
            /* push everything to the left */
            justify-content: flex-start;
            /* 44px - 88px */
            gap: clamp(2.75rem, 7vw, 5.5rem);
        }

        .cs-copyright {
            /* marign auto on the left pushes away from the rest of the flex children */
            margin: 0 0 0 auto;
            /* send to the right most position */
            order: 2;
        }
    }
}
                                